@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,200&family=Lato&family=M+PLUS+1:wght@400;500;600;700;800&family=Outfit:wght@300&family=Playfair+Display:wght@700&family=Roboto+Slab:wght@400;500;800&family=Zen+Kurenaido&display=swap');

.about-container{
    background-color: rgb(249, 249, 249);

}

.about-sec{
    font-style:italic;
    font-family: initial;
    font-weight: bolder;
}

.text-sec>span{
    font-style:italic;
}


.outline-primary{
    border-radius: 50%;
}

.post-title{
    font-family: 'Playfair Display';
    font-size: 30px;
}

.img-description{
    display: flex
}

@media (max-width: 440px) {
    .img-description{
    display: block;
    flex-wrap: wrap;
}
.post-description{
    padding-left: 0px !important;
}

}