
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 440px) {
*{
    overflow-x: hidden;
}
}
.jumbotron {
  background-color: rgb(52,58,64);
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: start;
  border-radius: 5px;
}

#jumboTitle {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#featuredTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#jumboContent, #featuredContent {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.carousel-indicators > button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  border-radius: 50%;
  border-style: hidden;
  width: 15px;
  height: 15px;
  background-color: rgb(202, 202, 202);
}
